.app {
  background-color: #282c34;
  color: white;
}

.card-img {
  max-width: 100%;
  cursor: pointer;
}

.card-deck-darken {
  max-width: 100px;
  filter: brightness(0.5);
}

.card-deck {
  max-width: 100px;
}

.deck {
  width:100%;
  display: flex;
  justify-content: center;
}

.app-header {
  text-align: center;
}

.card-qp {
  max-width: 90px;
  cursor: pointer;
}
