body {
  background-color: #282c34;
  color: white;
}

.card-img {
  max-width: 100%;
  cursor: pointer;
}

.card-deck-darken {
  max-width: 100px;
  filter: brightness(0.5);
}

.card-deck {
  max-width: 100px;
}

.deck {
  width:100%;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

#rarity-buttons label {
  margin: 0.25rem;
}

#common {
  background: dodgerblue;
  color: white;
  border: none;
}

#rare {
  background: chocolate;
  color: white;
  border: none;
}

#epic {
  background: darkviolet;
  color: white;
  border: none;
}

#legendary {
  background: #d9a7c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border: none;
  color: black;
}


#champion {
  background: #CAC531;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #e2ea6d, #e9e20e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #e2ea6d, #e9e20e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  
  border: none;
  color: black;
}

.elixir-icon {
  max-width: 26px;
  user-select: none;
}


@font-face {
  font-family: 'YouBlockhead';
  src: url(../public/fonts/you_blockhead.ttf);
}

.elixir-cost {
  position: absolute;
  top: 15%;
  width: 26px;
  color: white;
  text-shadow: 0 0 3px black, 0 0 5px black;
  user-select: none;
  font-size: smaller;
  font-family: 'YouBlockhead';
  text-align: center;
}

.champion-spot .card-img {
  max-width: 90px;
}

.champion-spot {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.elixir {
  position: absolute;
  top: 0;
  left: 0;
}

.champ-btn {
  position: absolute;
  bottom: -3rem;
  width: 100px;
}

#type-buttons label {
  margin: 0.25rem;
}