body {
  background-color: #282c34;
  color: white;
}

.card-img {
  max-width: 100%;
  cursor: pointer;
}

.card-deck-darken {
  max-width: 100px;
  filter: brightness(0.5);
}

.card-deck {
  max-width: 100px;
}

.deck {
  width:100%;
  display: flex;
  justify-content: center;
}

.app-header {
  text-align: center;
}

.card-qp {
  max-width: 90px;
  cursor: pointer;
}

#rarity-buttons label {
  margin: 0.25rem;
}

#common + label {
  background: dodgerblue;
  border: none;
}

#rare + label {
  background: chocolate;
  border: none;
}

#epic + label {
  background: darkviolet;
  border: none;
}

#legendary + label {
  background: #d9a7c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border: none;
  color: black;
}


#champion + label {
  background: #CAC531;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #e2ea6d, #e9e20e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #e2ea6d, #e9e20e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  
  border: none;
  color: black;
}

.elixer-icon {
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  max-width: 25px;
  user-select: none;
}

.elixer-cost {
  position: absolute;
  top: -0.4rem;
  left: 0px;
  color: white;
  text-shadow: 0 0 3px black, 0 0 5px black;
  font-weight: bold;
  user-select: none;
}